body{
    background-color: darkslateblue;
}

main{
    width: 900px;
    margin: 10% auto;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}